body,html{
    background: #f7f8fa;
}
.taskHeader{
    background: #fff;
}
.taskSearch{
    padding: .4rem .4rem 0 .4rem;
}
.searchInput{
    width:5.04rem;
    height: .62rem;
    border:2px solid #D93D30;
    border-radius: .3rem;
}
.searchInput .searchIcon{
    width: .76rem;
    height: .54rem;
}
.searchInput .searchIcon img{
   width: 16px;
}
.searchInput input{
    width: 4.16rem;
    height: 27px;
    border-radius: 15px;
}
.taskSearch .sys img{
    width: 20px;
    height: 20px;
}
.taskTabbar{
    height: 44px;
}
.taskTabbar li{
    width: 50%;
    float: left;
    line-height: 44px;
    text-align: center;
}
.taskTabbar li.active{
    border-bottom: 2px solid #D93D30;
    color: #D93D30;
}
.taskList{
    padding: 0 20px;
    margin-top: 20px;
}
.taskItem{
    background: #fff;
    border-radius: 6px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.taskItem h2{
    padding: 19px 0px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 15px;
}
.taskItem h2 span:first-child{
    color: #333;
} 
.taskItem h2 span:last-child{
    color: #F33822;
} 
.taskItem p{
    font-size: 12px;
}
.taskItem .taskItem_user{
    padding: 19px 0;
}
.taskItem .address{
    padding-bottom: 19px;
}
.weui-tabbar::before {
    border-top: none !important;
}