.taskSearch{
    background: #fff;
}
.searchInput{
    width: 302px;
    height: 31px;
    border:1px solid #D93D30;
    border-radius: 15px;
}
.searchInput span{
    display: block;
    width: 38px;
    
}