body, html {
    height: 100%;
    overflow: hidden;
}
.banner{
    padding: 40px;
}
.bannerList{
    overflow: hidden;
    width: 100%;
    border-radius: 0.04rem;
}
.bannerList img{
    width: 100%;
    height:100%;
}
.swpierList .iconList{
    float: left;
    width: 20%;
    text-align: center;
    margin: .4rem 0;
}

.iconList img{
    height: .82rem;
    width: .82rem;
}
.iconList p{
    font-size: 10px;
    font-weight: 100;
}