body, html {
    height: 100%;
    overflow: hidden;
}
.banner{
    padding: 0.2rem;
}
.bannerList{
    overflow: hidden;
    width: 100%;
    border-radius: 0.04rem;
}
.bannerList img{
    width: 100px;
    height: 100px;
}