.serviceProject{
    padding: 0 20px;
}
.serviceP_form{
    background: #fff;
    border-radius: 6px;
    padding: 0 20px;
}
.serviceP_form .serviceP_form_item{
    border-bottom: 1px solid #F1F1F1;
    padding: 46px 0;
}
.serviceP_form .serviceP_form_item li{
    font-size: 26px;
}
.serviceP_form .serviceP_form_item li img{
    vertical-align: top;
    height: 26px;
    width: 26px;
    margin-right: 8px;
}
.serviceP_form .serviceP_form_item li:first-child{
    font-size: 28px;
    color: #333;
}
.serviceP_form .serviceP_form_item .serviceP_title_right{
    padding-left: 20px;
}