.weui-uploader__title{
    line-height: 34px;
    border-bottom: 1px solid #F1F1F1;
}
.weui-uploader__file_status img{
    position: absolute;
    right: 4px;
    top: 4px;
    height: 20px;
    width: 20px;
}
.weui-uploader__input-box{
    border-style: dashed;
}