body,html{
    background: #ccc;
}
.userInfo{
    padding: 20px;
}
.userInfo .weui-cells{
    background: #fff;
    border-radius: 4px;
}
.userInfo .weui-label{
    color:#797979;
    font-size: 15px;
}
.userInfo .weui-cell__bd input{
    font-size: 15px;
    color: #2A2A2A;
}
.weui-cell p{
    text-align: center;
    font-size: 14px;
}