body,html{
    background: #f7f8fa;
}
.userInfo{
    padding: 20px;
}

.userInfo .userInfo_form{
    background: #fff;
    border-radius: 4px;
    margin-top: 0;
    padding: 0 10px;
}
.userInfo .weui-label{
    color:#797979;
    font-size: 15px;
}
.userInfo_form .form_cell{
    padding: 10px;
    border-bottom: 1px solid #F1F1F1;
}
.userInfo_form .form_cell:last-child{
    border-bottom: none;
}
.form_cell label{
    line-height: 30px;
}
.form_cell label,.form_cell input{
     height: 30px; 
}
.form_cell .cell{
    width: 90px;
    float: left;
}
.form_cell .center{
   margin-left: 90px;
}
.form_cell .weui_right{
    text-align: right;
    float: right;
}
.form_cell_3 .center input{
    width: 100px;
}
.form_cell_title{
    padding: 10px 0 0 10px;
}



.userInfo .weui-cell__bd input{
    font-size: 15px;
    color: #2A2A2A;
}
.userInfo .form_cell p{
    text-align: center;
    font-size: 14px;
    color: #999999;
    padding-bottom: 10px;
}
.carCheck{
  padding-top: 0;
}
.carCheck .form_cell p{
   margin-left: 0;
   color: #333;
}
.weui-cell .weui-cell-right{
    color: #2A2A2A;
    font-size: 15px;
}
.upload{
    padding-top: 0;
}
.weui-switch:checked{
    background-color: #FF0000;
    border-color: #FF0000;
}
.weui-uploader__file_status{
    background-size: 100% 100%;
    position: relative;
}
.weui-uploader__file_status img{
    position: absolute;
    right: 4px;
    top: 4px;
    height: 20px;
    width: 20px;
}
.weui-uploader__file_status::before{
    background-color: rgba(0, 0, 0, 0.5);
}
.weui-uploader__hd .title{
    color:#797979;
    font-size:15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F1F1F1;
}
.weui-uploader__bd .info{
    height: 94px;
    color: #999999;
    font-size: 12px;
}
.vehicleEntry_btn{
    color: #F12222;
    width: 206px;
    height: 30px;
    background: #F12222;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}