body,html{
    background: #ccc;
}
.userInfo{
    padding: 20px;
}
.userInfo .weui-cells{
    background: #fff;
    border-radius: 4px;
}
.userInfo .weui-label{
    font-family: SourceHanSansCN-Regular;
}